@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

/* Global Styles */
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body{
  background-color:#2F3039 ;
}

h1{
  font-size: 4rem;
  letter-spacing: 7px;
  margin: 3rem;
}

h2{
  font-size: 2rem;
  text-align: center;
  /* border: 1px solid black; */
  grid-row: 2;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 20%;
  font-size: 2rem;
  font-weight: bold;
}

/* Main Content */
.ToDoList{
   /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TasksContainer{
  /* border: 2px solid white; */
  display: grid;
  justify-content: center;
  grid-template-columns: 80% ;
  /* Tasks/Add a new value/Divider / Tasks /Finished Tasks /Space under*/
  grid-template-rows: repeat(3,3.5rem) .1rem repeat(3,auto) 3.5rem;
  min-width: 500px;
  background-color: #999999;
  border-radius: 30px;
  box-shadow: 7px 7px 15px rgb(36, 35, 35);
  row-gap: 1rem;
}

/* Line Divider */
.Divider{
  /* border: 1px solid black; */
  grid-row: 4;
  background-color: white;
}

.DisplayTasks{
  /* border: 1px solid yellow; */
  grid-row: 5;
}

/* Targets second h2 under .ToDoList, which is "Finished */
.ToDoList h2:nth-of-type(2){
  /* border: 1px solid black; */
  grid-row: 6;
  text-align: center;
}

.CompletedTasks{
  grid-row: 7;
  height: 200px;
  /* border: 1px solid yellow; */
}